:root {
  --umber: #8a2c2a;
  --codgray: #171717;
  --crimson: #d92121;
  --gunpowder: #46495b;
  --harlequin: #52ff00;
  --selectiveyellow: #ffb800;
  --codgray-light: #070606;
  --white: #ffffff;
}

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "pnum";
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  color: var(--white);
  background-color: var(--codgray);
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus:not(:focus-visible),
*:before:focus:not(:focus-visible),
*:after:focus:not(:focus-visible) {
  outline: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
  color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
a {
  font-family: "Acme", sans-serif;
  font-weight: 400;
}

p {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 50px;
  text-transform: uppercase;
  margin: 20px 0 40px;
  line-height: 1.2;
}
