/*************************************************** header *************************************************************/

body {
  background-color: black;
}
#header-container {
  position: fixed;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-left: 4rem;
  width: 100%;
  height: 5rem;
  background-color: transparent;
  z-index: 2;
  transition: 0.5s;
}
#header-container a {
  cursor: pointer;
  margin-top: 1.6rem;
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}
#header-container #log-in-button {
  padding-left: 7rem;
  font-size: 1.01rem;
}

#logo-container {
  margin-top: 1rem;
  width: 3rem;
  height: 3rem;
  background-color: white;
}
#mobile-menu-button {
  display: none;
  position: absolute;
  top: -0.7rem;
  right: 1.3rem;
  font-size: 4rem;
}
#mobile-menu {
  display: none;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--umber);
}
#mobile-menu-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

  margin-bottom: 7rem;
  font-size: 2.5rem;
}
#mobile-menu-container a {
  cursor: pointer;
  text-decoration: none;
  color: white;
  margin-top: 3rem;
  text-align: center;
  overflow: auto;
}
#logo-container-mobile {
  width: 3rem;
  height: 3rem;
  background-color: white;
  margin: auto;
  margin-bottom: 0;
  margin-top: 2rem;
}
#close-menu-button {
  position: absolute;
  right: 5vw;
  font-size: 4rem;
}

@media only screen and (max-width: 1200px) {
  #header-container #log-in-button {
    padding-left: 0rem;
    font-size: 1.01rem;
  }
}

@media only screen and (max-width: 950px) {
  #header-container {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    padding-left: 4rem;
    width: 100%;
    height: 5rem;
    background-color: var(--umber);
  }

  #header-container a {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  #header-container a {
    display: none;
  }
  #logo-container {
    display: none;
  }

  #header-container {
    position: relative;
  }

  #mobile-menu-button {
    display: block;
    position: absolute;
    top: -0.7rem;
    right: 1.3rem;
    font-size: 4rem;
  }
  #mobile-menu {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--umber);
  }
}

/*************************************************** header *************************************************************/

/*************************************************** splash *************************************************************/

.splash-image {
  position: relative;

  width: 100%;
  height: 100vh;
  background-image: url(/assets/images/splash.jpg);
  background-size: cover;
  background-position: center;
}

.splash-transition {
  height: 2vw;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(23, 23, 23, 1) 100%);
}

/*************************************************** splash *************************************************************/

/*************************************************** welcome *************************************************************/
#intro-container1 h1 {
  margin-top: 5rem;
  text-align: center;
  margin-bottom: 0.7rem;
}
#intro-container1 p {
  margin: auto;
  width: 37rem;
}
#intro-container2 {
  display: grid;
  grid-template-columns: 15rem 15rem;
  margin: auto;
  padding-top: 2rem;
  width: 40rem;
  gap: 10rem;
  margin-top: 2rem;
}

#intro-container-button1 button {
  height: 4rem;
  width: 15rem;
  font-size: 2rem;
  font-family: "Acme", sans-serif;
  border-radius: 3rem;
  background-color: var(--crimson);
  border: 0;
  color: white;
  margin-bottom: 1rem;
  cursor: pointer;
}
#intro-container-button2 button {
  height: 4rem;
  width: 15rem;
  font-size: 2rem;
  font-family: "Acme", sans-serif;
  border-radius: 3rem;
  background-color: var(--gunpowder);
  border: 0;
  color: white;
  margin-bottom: 1rem;
  cursor: pointer;
}
#intro-container-button1 p {
  transition: 0.5s;
  opacity: 0;
}
#intro-container-button1 button:hover + p {
  opacity: 1;
}
#intro-container-button2 p {
  transition: 0.5s;
  opacity: 0;
}
#intro-container-button2 button:hover + p {
  opacity: 1;
}

#intro-container-button1 button:focus {
  outline: none;
}
#intro-container-button2 button:focus {
  outline: none;
}

@media only screen and (max-width: 700px) {
  #intro-container-button1 p {
    transition: 0.5s;
    opacity: 1;
    padding-bottom: 1rem;
  }
  #intro-container-button2 p {
    transition: 0.5s;
    opacity: 1;
    padding-bottom: 1rem;
  }
  #intro-container1 h1 {
    font-size: 2.5rem;
  }
  #intro-container1 p {
    margin: auto;
    width: 70vw;
    font-size: 1.3rem;
  }
  #intro-container2 {
    display: block;
    margin: auto;
    padding-top: 2rem;
    width: 20rem;
    gap: 10rem;
    margin-top: 2rem;
    text-align: center;
  }
}
@media only screen and (max-width: 500px) {
  #intro-container1 p {
    width: 90%;
    font-size: 1.3rem;
  }
}
/*************************************************** welcome *************************************************************/

/*************************************************** events *************************************************************/
#events-container {
  background-image: url(akira.png);
  height: 25rem;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-top: 3rem;
}
#events-container h1 {
  font-size: 6rem;
  margin-left: 4rem;
}
#events-container p {
  font-size: 3rem;
  width: 70rem;
  margin-left: 4rem;
}

#events-cover-beholder {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 0.9rem;
  height: 25rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.301);
}

@media only screen and (max-width: 1200px) {
  #events-container p {
    font-size: 2rem;
    width: 90%;
    margin-left: 2rem;
  }
  #events-container h1 {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 500px) {
  #events-container p {
    font-size: 1.5rem;
    width: 90%;
    margin-left: 2rem;
  }
  #events-container h1 {
    font-size: 4rem;
    margin-left: 1rem;
  }
}

/*************************************************** events *************************************************************/

/*************************************************** movie-list *************************************************************/

.movie-list {
  position: relative;
  z-index: 1;
}
.flickity-button:hover {
  background: var(--umber);
}

.carousel-cell {
  margin: 4rem 2rem 4rem 2rem;
  transition: transform 0.3s linear;
  cursor: pointer;
}

.carousel-cell img {
  height: 400px;
  width: 250px;
}

.movie-card {
  background-color: var(--codgray-light);
  padding: 0.5rem 1rem 1rem 1rem;
  position: relative;
  margin-top: -2rem;
  max-width: 250px;
  height: 120px;
}

.movie-card h3 {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  max-width: 300px;
}

.movie-card h5 {
  color: var(--crimson);
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  max-width: 300px;
}

.movie-card p {
  color: var(--gunpowder);
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  max-width: 300px;
  position: absolute;
  bottom: 0.5rem;
}

/*************************************************** movie-list *************************************************************/

/*************************************************** footer *************************************************************/
#footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  height: 10rem;
  width: 100%;
  padding: 4rem;
  background-color: var(--codgray-light);
  padding-top: 2rem;
  gap: 0;
  margin-top: 4rem;
}
#image-of-deadpool {
  height: 5.6rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 6.4rem;
}

#image-of-deadpool img {
  height: 12rem;
}
#footer-container h2 {
  font-size: 2rem;
  margin-bottom: 0;
  padding-bottom: 0;
}
.some-icon {
  font-size: 2.5rem;
  padding: 0.8rem;
  cursor: pointer;
}
#some-icon-container {
  margin-left: 4vw;
}
#adress-container {
  margin-left: 4vw;
}
#contact-container {
  margin-left: 4vw;
}
#terms-container {
  margin-left: 0vw;
}

@media only screen and (max-width: 1260px) {
  #footer-container h2 {
    font-size: 1.5rem;
  }
  .some-icon {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 1100px) {
  #footer-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 8rem 2rem;
    height: 18rem;

    padding-left: 10vw;

    padding-top: 2rem;
  }
}
@media only screen and (max-width: 700px) {
  #image-of-deadpool img {
    width: 20rem;
  }
  #image-of-deadpool {
    margin-bottom: 0rem;
    height: 8.2rem;
  }
  #footer-container {
    margin-top: 0;
  }
}

@media only screen and (max-width: 600px) {
  #footer-container {
    grid-template-columns: 1fr;
    grid-template-rows: 7rem 4rem 7rem 4rem;
    text-align: center;
    height: 25rem;
  }
  #some-icon-container {
    margin-left: 0;
  }
  #adress-container {
    margin-left: 0;
  }
  #contact-container {
    margin-left: 0;
  }
  #terms-container {
    margin-left: 0;
  }
  #footer-container h2 {
    font-size: 2rem;
  }
  .some-icon {
    font-size: 2rem;
  }
}

/*************************************************** footer *************************************************************/
